+++
title = "RSVP"
type = "page"
layout = "RSVP"
+++
<section class="hero is-large rsvp">
  <div class="hero-header">
    </div> <div class="hero-body">
  </div>
  <div class="hero-footer">
  </div>
</section>
<section class="section">
  <form id="rsvp"
    v-on:submit.prevent="postForm">

    <!-- Title -->
    <div class="container rsvp-text has-text-centered">
      <h1 class="title is-4">
        RSVP
      </h1>
      <h2 class="subtitle is-6">
        Your reply is cordially requested by August 30th
      </h2>
    </div>

    <!-- Are you coming? --> 
    <div class= container>
      <div class="field ">
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button"
              v-bind:class="{ 'is-active': attending }"
              v-on:click="attending  = true"
              v-scroll-to="'#guest'">
              <span class="icon is-small"><i class="fa fa-heart"></i></span>
              <span>Accept</span>
            </a>
            <a class="button"
              v-bind:class="{ 'is-active': attending === false }"
              v-on:click="attending = false"
              v-scroll-to="'#guest'">
              <span class="icon is-small"><i class="fa fa-heart-o"></i></span>
              <span>Regret</span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="guest"></div>
    <section class="section"
      v-if="attending !== null">
      <div class="field is-horizontal"
        v-if="attending === false">
        <div class="field-label is-normal">
          <label class="label">Your Name</label>
        </div>
        <div class="field-body">
          <div class="field has-addons">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Full Name"
              :class="{ 'is-danger': errors.has('name0') }"
              :name="'name0'"
              data-vv-as="Full name"
              v-validate="'required|alpha_spaces'"
              v-model="guests[0].name">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
              <span class="help is-danger"
                v-show="errors.has('name0')" >
                {{ errors.first('name0')}}
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Your Email</label>
        </div>
        <div class="field-body">
          <div class="field has-addons">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="email" name="email"
              v-validate="'email'"
              v-bind:class="{'is-danger': errors.has('email')}"
              v-bind:placeholder="attending ? 'Guest@example.com' : 'name@example.com'"
              v-model="email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
              <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Guest entry -->
      <div id="guest" v-if="attending">
        <template v-for="(guest, index) in guests">
          <div class="field is-horizontal is-grouped-multiline" id="guest">
            <div class="field-label is-normal">
              <label class="label">Guest {{index + 1}}</label>
            </div>

            <div class="field-body box">

              <div class="field is-grouped is-grouped-centerend is-grouped-multiline">

                <!-- Guest Name -->
                <div class="control has-icons-left is-expanded">
                  <input class="input" name="name" type="text" placeholder="Full Name"
                  :class="{ 'is-danger': errors.has('name') }"
                  :name="'name' + index"
                  data-vv-as="Full name"
                  v-validate="'required|alpha_spaces'"
                  v-model="guest.name">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                  <span class="help is-danger"
                    v-show="errors.has('name' + index)" >
                    {{ errors.first('name' + index)}}
                  </span>
                </div>

                <!-- Guest Age -->
                <p class="control has-icons-left">
                  <span class="select"
                    :class="{ 'is-danger': errors.has('age' + index) }">
                    <select :name="'age' + index" 
                      data-vv-as="Age"
                      v-validate="'required|in:Over 21,16-20,6-15,0-5'"
                      v-model="guest.age">
                      <option selected>Age</option>
                      <option value="Over 21">Over 21</option>
                      <option value="16-20">16-20</option>
                      <option value="6-15">6-15 </option>
                      <option value="0-5">0-5  </option>
                    </select>
                    <span class="icon is-small is-left">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                  <span class="help is-danger"
                    v-show="errors.has('age' + index)" >
                    {{ errors.first('age' + index)}}
                  </span>
                </p>

                <!-- Guest Restrictions -->
                <p class="control has-icon-right">
                  <button class="button"
                    v-bind:class="{ 'is-info': guest.dietary, 'is-active': guest.dietary}"
                    v-on:click.prevent="dietaryToggle(guest)">
                    <span class="icon is-small is-right"><i class="fa fa-cutlery"></i></span>
                    <span>Dietary Restrictions?</span>
                  </button>
                </p>

                <!-- Delete Guest -->
                <p class="control">
                  <div class="button"
                    v-if="multiParty"
                    v-on:click.prevent="removeGuest(index)">
                    <span class="icon is-small"><i class="fa fa-user-times"></i></span>
                  </div>
                </p>
              </div>

            </div>
          </div>

          <!-- Dietary Textarea -->
          <div class="field is-horizontal" 
            v-if="guest.dietary">
            <div class="field-label">
            </div>
            <div class="field-body box">
              <div class="field is-expanded">
                <div class="control">
                  <textarea class="textarea" 
                    data-vv-as="dietary"
                    v-validate="'required'"
                    v-bind:placeholder="dietaryPlaceholder"
                    v-model="guest.dietaryNotes"></textarea>
                </div>
              </div>
            </div>
          </div>

        </template>

        <!-- Add Guest -->
        <div class="field is-horizontal">
          <div class="field-label">
            Add Guest
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="button"
                  v-on:click="addGuest()">
                  <span class="icon is-small"><i class="fa fa-user-plus"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Submit -->
      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button class="button is-primary"
                v-bind:class="{ 'is-loading': posting }"
                :disabled=disableSubmit>Send</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </section>
</section>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Please email any questions to <a href="mailto:rsvp@sethbethandbeyond.com">RSVP@sethbethandbeyond.com</a>.
      </p>
    </div>
  </div>
</footer>
