<section class="hero is-fullheight aviary" id="aviary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span>National Aviary</span>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <article class="tile box is-child">
        <div class="content">
          <blockquote>
            The aviary is home to more than 500 birds of more than 150 species, many of which are threatened or endangered in the wild. It has one of the most diverse collections in North America (exceeding, for example, the National Zoo in Washington, D.C. and the Niagara Falls Aviary).
            <br>-<cite><a href="https://en.wikipedia.org/wiki/National_Aviary">Wikipedia</a></cite>
          </blockquote>
        </div>
      </article>

      <div class="tile box is-child">
        <div class="content">
          <h1 class="title">
            Parking
          </h1>
          <p>There is limited parking available in the Aviary's lot. Please leave this for guests with lesser mobility.  More parking is available on street. Both options are free on the day of the wedding.</p>
          <p>We encourage our guests to consider taking advantage of the return shuttle service to the hotel at the end of the evening.</p>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.9803817951!2d-80.01254114891856!3d40.45357117925956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f407bcc8be5b%3A0x46da74eed164a70b!2sNational+Aviary!5e0!3m2!1sen!2sus!4v1500509662838" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">

    <div class="tile is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child">
          <figure class="image is-16by9">
            <img src="{{ .Site.Params.BaseImg }}penguin-portals.jpg">
          </figure>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child">
          <figure class="image is-4by3">
            <img src="{{ .Site.Params.BaseImg }}statue.jpg">
          </figure>
        </div>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child">
        <figure class="image">
          <img src="{{ .Site.Params.BaseImg }}bench.jpg">
        </figure>
      </div>
    </div>
  </div>
</section>
