<section class="hero is-fullheight aviary" id="aviary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span>The National Aviary</span>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <article class="tile box is-child">
        <div class="content">
          <h1 class="title">About</h1>
          <div class="content">
            <p>The National Aviary is America’s only independent indoor nonprofit zoo dedicated exclusively to birds. Located in Allegheny Commons Park on Pittsburgh’s historic North Side, the National Aviary’s diverse collection comprises more than 500 birds representing more than 150 species from around the world, many of them threatened or endangered in the wild.</p>

            <p>The National Aviary’s large walk-through exhibits create an experience unlike any other – an intimate, up-close interaction between visitors and free-flying birds, including opportunities to hand-feed and meet many species rarely found in zoos anywhere else in the world.</p>
          </div>
        </div>
      </article>

      <div class="tile box is-child">
        <div class="content">
          <h1 class="title">
            Parking
          </h1>
          <p>Parking is avaible for free both on street and in the Aviary's lot.</p>
          <p>We encourage our guests to consider taking advantage of the return shuttle service to the hotel at the end of the evening.</p>
        </div>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.9803817951!2d-80.01254114891856!3d40.45357117925956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f407bcc8be5b%3A0x46da74eed164a70b!2sNational+Aviary!5e0!3m2!1sen!2sus!4v1500509662838" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="tile is-child">
        <figure class="image">
          <img src="{{ .Site.Params.BaseImg }}trolly.png">
        </figure>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">

    <div class="tile is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child">
          <figure class="image is-16by9">
            <img src="{{ .Site.Params.BaseImg }}penguin-portals.jpg">
          </figure>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child">
          <figure class="image is-4by3">
            <img src="{{ .Site.Params.BaseImg }}statue.jpg">
          </figure>
        </div>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child">
        <figure class="image">
          <img src="{{ .Site.Params.BaseImg }}bench.jpg">
        </figure>
      </div>
    </div>
  </div>
</section>
