<section class="hero is-fullheight aviary" id="aviary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span>The National Aviary</span>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <article class="tile is-child">
        <div class="content">
          <h2 class="title">About</h2>
          <div class="content">
            <p>Located in Allegheny Commons Park on Pittsburgh’s historic North Side, the National Aviary’s diverse collection comprises more than 500 birds representing more than 150 species from around the world, many of them threatened or endangered in the wild.</p>

            <p>The National Aviary’s large walk-through exhibits create an experience unlike any other – an intimate, up-close interaction between visitors and free-flying birds, including opportunities to hand-feed and meet many species rarely found in zoos anywhere else in the world.</p>
            <div class="has-text-right">—<a href="https://www.aviary.org">Aviary.org</a></div>
          </div>
        </div>
      </article>

      <div class="tile is-child trolly">
        <figure class="image">
          <img src="{{ .Site.Params.BaseImg }}trolly.png">
        </figure>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <div class="content">
          <h2 class="title">
            Parking
          </h2>
          <p>Guest parking is free inside the Aviary’s dedicated parking lot. Free parking is also available on-street outside the Aviary.</p>
          <p>A trolley will be available in the last hour of the wedding reception to return guests to the Omni William Penn Hotel.</p>
        </div>
      </div>
      <div class="tile is-child">
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.9803817951!2d-80.01254114891856!3d40.45357117925956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f407bcc8be5b%3A0x46da74eed164a70b!2sNational+Aviary!5e0!3m2!1sen!2sus!4v1500509662838" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
