<section class="hero is-fullheight engagment-photos" id="engagment-photos">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title black-text">
        <span>Engagement Photos</span>
      </h1>
    </div>
  </div>
</section>
<br>
<section class="gallery">
  <div class="tile is-ancestor">

    <div class="tile is-vertical is-6">
      <div class="tile is-parent">
        <div class="tile is-child">
          <figure class="image is-4by3">
            <img src="{{ .Site.Params.GallaryImg }}01.jpg">
          </figure>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child">
          <figure class="image is-4by3">
            <img src="{{ .Site.Params.GallaryImg }}02.jpg">
          </figure>
        </div>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child">
        <figure class="image">
          <img src="{{ .Site.Params.GallaryImg }}03.jpg">
        </figure>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent is-6">
      <div class="tile is-child">
        <figure class="image is-4by3">
          <img src="{{ .Site.Params.GallaryImg }}04.jpg">
        </figure>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child">
        <figure class="image ">
          <img src="{{ .Site.Params.GallaryImg }}08.jpg">
        </figure>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="title is-child">
        <figure calls="image is-4by3">
          <img src="{{ .Site.Params.GallaryImg }}07.jpg">
        </figure>
      </div>
    </div>

    <div class="tile is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child">
          <figure class="image ">
            <img src="{{ .Site.Params.GallaryImg }}06.jpg">
          </figure>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="title is-child">
          <figure calls="image is-4by3">
            <img src="{{ .Site.Params.GallaryImg }}05.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
