<section class="hero hotel is-fullheight" id="hotel">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span>Omni William Penn</span>
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <div class="tile content box is-child">
        <p>A wedding guest room block is reserved for guests at the Omni William Penn Hotel. The Omni is located downtown, only 10 minutes away from the Aviary.</p>
        <p>The Bride and Groom will be staying in one of the suites the Sunday evening. All are welcome to join them Monday morning for brunch in the Terrace Room located in the hotel lobby.</p> 
        <p>Rates for the Omni start at $189/night. If you'd like to stay here, please make your reservation by August 30th.</p>
        <p>There are two ways to make your reservation:</p>
        <ul>
          <li>Call <a href="tel:+18008436664">1-800-THE-OMNI</a> and reference "Wedding in honor of Beth Oltrogge and Seth Szymanski"</li>
          <li>
            <a href="https://www.omnihotels.com/hotels/pittsburgh-william-penn/weddings/oltrogge-szymanski-wedding">
              Book Online
            </a> with the dedicated link.
          </li>
        </ul>
        <p>If you stay in the Omni, a return trolley will be available to you at the end of the wedding reception, at no charge.</p>
      </div>
    </div>
  </div>
</section>
