<section class="hero hotel is-fullheight" id="hotel">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span>Omni William Penn</span>
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">

    <div class="tile is-parent is-vertical">

      <div class="tile content is-child">
        <p>A room block is reserved for wedding guests at the Omni William Penn Hotel. The Omni is located downtown, only 10 minutes away from the Aviary.</p>
        <p>Beth and Seth will be staying at the Omni on Sunday night. They plan to continue their stay into Monday afternoon to spend time with guests. All are welcome to join them Monday morning for brunch in the Terrace Restaurant, located next to the hotel lobby. Please check our website for further details in the coming weeks.</p> 
      </div>

      <div class="tile is-child">
        <figure class="image">
          <img src="{{ .Site.Params.BaseImg }}lobby.jpg">
        </figure>
      </div>
      </div>

    <div class="tile is-parent is-vertical">

      <div class="tile is-child content">
        <p>Rates for the Omni start at $189/night. If you'd like to stay here, please make your reservation by <em>August 30th.</em></p>
        <p>There are two ways to make your reservation:</p>
        <ul>
          <li>Call <a href="tel:+18008436664">1-800-THE-OMNI</a> and reference "Wedding in honor of Beth Oltrogge and Seth Szymanski"</li>
          <li>
            <a href="https://www.omnihotels.com/hotels/pittsburgh-william-penn/weddings/oltrogge-szymanski-wedding">
              Book Online
            </a> with the dedicated link.
          </li>
        </ul>
      </div>

      <div class="tile is-child">
        <figure class="image">
          <img src="{{ .Site.Params.BaseImg }}hotel-room.jpg">
        </figure>
      </div>

    </div>
  </div>
</section>
