<section class="hero is-fullheight registry" id="registry">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Registries
      </h1>
    </div>
  </div>
</section>
<br>
<section>
  <div class="registries container">
    <div class="level">
      <div class="level-item">
        <figure class="image">
          <a href="https://www.amazon.com/wedding/seth-szymanski-beth-oltrogge-pittsburgh-october-2017/registry/RW7AT7OC7QE4">
            <img class="logo" src="{{ .Site.Params.BaseImg }}amazon.png">
          </a>
        </figure>
      </div>
      <div class="level-item">
        <figure class="image">
          <a href="https://www.crateandbarrel.com/gift-registry/beth-oltrogge-and-seth-szymanski/r5717225">
            <img class="logo" src="{{ .Site.Params.BaseImg }}crate-and-barrel.png">
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
