@import "custom-bulma";

$images : "/images/";

.title,
.subtitle {
  color: $white;
}

.menu-bar {
  a:link,
  a:visited,
  a:hover,
  a:active {
    font-size: 1.25rem;
    color: $white;
  }
}

.registry h1 {
  padding-top: 20px;
}

li {
  list-style-type: decimal;
}

@mixin parallax {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  @include touch {
    background-attachment: initial;
  }
}

.bench-parallax {
  @include parallax
  background-image: url(#{$images}main-hero.jpg);
}

.aviary {
  @include parallax
  background-image: url(#{$images}eagle.jpg);
}

.hotel{
  @include parallax
  background-image: url(#{$images}william-penn.jpg);
}

.splash{
  @include parallax
  background-image: url(#{$images}museumstaircase.jpg);
  @include touch {
    .hero-body .container {
      top: -5em;
    }
  }
}

.registry {
  @include parallax
  background-image: url(#{$images}peacocks.jpg);
}

.four-oh-four {
  @include parallax
  background-image: url(#{$images}penguins.gif);
  
  a:link,
  a:visited,
  a:active {
    color: $black;
  }

  a:hover {
    color: $white;
  }

  @include desktop {
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 4rem;
    }
  }
}

.registry img {
  padding-top: 50px;
  max-width: 200px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.trolly {
  img {
    max-width:100%;
    max-height:100%;
  }
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
