$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "custom-bulma";

$images : "/images/";

@mixin parallax {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  @include touch {
    background-attachment: initial;
  }
}

li {
  list-style-type: decimal;
}

.aviary {
  @include parallax
  background-image: url(#{$images}eagle.jpg);
}

.bench-parallax {
  @include parallax
  background-image: url(#{$images}main-hero.jpg);
}

.engagment-photos {
  @include parallax
  background-image: url(#{$images}engagment-aviary.jpg);
}

.footer,
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.four-oh-four {
  @include parallax
  background-image: url(#{$images}penguins.gif);

  a:link,
  a:visited,
  a:active {
    color: $black;
  }

  a:hover {
    color: $white;
  }

  @include desktop {
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 4rem;
    }
  }
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.hotel{
  @include parallax
  background-image: url(#{$images}william-penn.jpg);
}

.menu-bar {
  a:link,
  a:visited,
  a:hover,
  a:active {
    font-size: 1.25rem;
    color: $white;
  }
}

.registry {
  @include parallax
  background-image: url(#{$images}peacocks.jpg);
}

.registries {
  figure {
    background: $black;
    padding: 4rem;
  }
  img {
    padding-top: 0rem;
    max-width: 200px;
  }
}

.rsvp {
  @include parallax
 background-image: url(#{$images}rsvp.jpg);
  background-color: rgb(17, 28, 50);
}

.rsvp-text {
  padding-bottom: 2em;
  .title,
  .subtitle {
    color: $black;
  }
}

.splash{
  @include parallax
  background-image: url(#{$images}museumstaircase.jpg);
  @include touch {
    .hero-body .container {
      top: -5em;
    }
  }
}

.title,
.subtitle {
  color: $white;
}

.trolly {
  img {
    max-width:100%;
    max-height:100%;
  }
}
